[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
garmindb = "*"
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
uvicorn = "*"
pydantic = "*"
numpy = "<2"
idbutils = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.12"
