[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
uvicorn = "*"
pydantic = "*"
google-generativeai = "*"
sqlalchemy = "*"
aiosqlite = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.12"
