[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
garmindb = "*"
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
transformers = "*"
torch = "*"
uvicorn = "*"
pydantic = "*"
numpy = "<2"
idbutils = "*"
pymongo = {extras = ["srv"], version = "*"}
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
